@-webkit-keyframes spin {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(359deg);}
}
@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
}

@keyframes element_insert { from { left: 100%; } to { left: 0%; } }
@-o-keyframes element_insert { from { left: 100%; } to { left: 0%; } }
@-ms-keyframes element_insert { from { left: 100%; } to { left: 0%; } }
@-moz-keyframes element_insert { from { left: 100%; } to { left: 0%; } }
@-webkit-keyframes element_insert { from { left: 100%; } to { left: 0%; } }

#add_document_box {
    box-sizing: border-box;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 5px 3px #c7c7c7;
    color: #373737;
    margin: 60px auto;
    padding: 15px;
    height: 250px;
    width: 500px;
    position: relative;
    animation: element_insert 300ms forwards;
    -o-animation: element_insert 300ms forwards;
    -ms-animation: element_insert 300ms forwards;
    -moz-animation: element_insert 300ms forwards;
    -webkit-animation: element_insert 300ms forwards;
}

#add_document_box > form > label {
    font-size: 18px;
    line-height: 35px;
}

#add_document_box > form > label > input,
#add_document_box > form > label > select {
    float: right;
    font-size: 16px;
}


#advanced-search-options {
    width: 100%;
    border-spacing: 0px;
}

#advanced-search-options td { width: 25%; }

#search-form {
    box-sizing: border-box;
    height: 50px;
    overflow: hidden;
    padding: 5px 10px;
    position: relative;
    transition: height 300ms linear;
}

#search_input {
    display: block;
    font-size: 25px;
    margin : 0px auto 10px auto;
}

.search-big-icon {
    color: #19191b;
    font-size: 150px;
}

.search-icon::before, .search-icon-spinner-top {
    position: absolute;
    right: 50px;
    top: 10px;
}

.search-icon, .search-icon-spinner::before {color: #19191b;}
.search-icon:hover {color: #428bca;}


.search-icon::before {
    font-size: 30px;
    content: "\f002";
}

.search-icon-spinner::before {
    content: "\f013";
    animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
}

.search-icon-upload::before {
    content: "\f0ee";
}

.search-icon-spinner-top {
    line-height: 30px;
    font-size: 20px;
    margin-right: 5px;
}

.search-icon-settings::before {
    content: "\f1de";
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
}

.search-icon-settings {color: #19191b;}
.search-icon-settings:hover {color: #428bca;}

.search-result-wiki-icon::before { content: "\f19c"; }
.search-result-datasheet-icon::before { content: "\f1c0"; }
.search-result-tuto-icon::before { content: "\f19d"; }

.search-result-icon-view::before { content: "\f06e"; }
.search-result-icon-detail::before { content: "\f03a"; }

.search-result-detail {
    position:absolute;
    top: 135px;
    text-align: left;
}

.submit_button {
    border: none;       
    border-radius: 5px;
    background-color: #19191b;
    color: #FFF;
    margin: 10px 0px;
    position: absolute;
    top: 190px;
    left: 150px;
    height: 35px;
    width: 200px;
}
