iframe {
	border:none;
}

.export-icon::before {
	content: '\f08e';
	color: #e5e5e5;
}

.export-icon {
	font-size: 30px;
	position: absolute;
	top: 20px;
	right: 20px;
}

.console {
	position:absolute;
	top: 65px;
	bottom: 0px;
	left: 200px;
	right: 0px;
	overflow: hidden;
}
