@font-face {
	font-family: "Quicksand";
	src: url("../font/Quicksand_Normal.ttf") format("truetype");
}

@font-face {
	font-family: FontAwesome;
	src: url("../font/fontawesome.ttf") format("truetype"),
		 url("../font/fontawesome.otf") format("otf"),
		 url("../font/fontawesome.eot") format("eot"),
		 url("../font/fontawesome.svg") format("svg"),
		 url("../font/fontawesome.woff") format("woff");
}


a {
	color: #428bca;
	text-decoration: none;
}

body {
	background-color: #dcdcdc;
	color: #19191b;
	font-family: 'Helvetica Neue', Helvetica, Verdana;
	height: 100%;
	margin: 0;
}

html {height: 100%;}

i {
	font-family: FontAwesome;
	font-style: normal;
}

.section-title {
	font-size: 25px;
	margin: 20px 20px;
}

.search-input {
	display: block;
	font-size: 25px;
	margin : 10px auto;
}

/*
 * Topbar definition
 */
.topbar {
	background-color: #19191b;
	font-family: 'Quicksand';
	height: 65px;
}

.topbar-title {
	background-color: #19191b;
	background-origin: padding-box;
	box-sizing: border-box;
	color: #e4e4e4;
	font-size: 40px;
	height: 100%;
	padding: 10px 0px 15px 0px;
	text-align: center;
}

/*
* Navbar definition
*/

.navbar {
	background-color: #19191b;
	border-top: 1px solid #000;
	height: 100%;
	float: left;
	list-style-image: none;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	width: 200px;
}

.navbar>li {
	height: 50px;
	font-size: 16px;
	line-height: 21px;
	opacity: 0.5;
}

.navbar>li:hover {
	background-color: #000;
	opacity: 1.0;
}

.navbar>li>a{
	color: #FFF;
	display: block;
	height: auto;
	line-height: 20px;
	padding: 15px 15px;
	position: relative;
	text-align: left;
	text-decoration: none;
}

.navbar-icon {padding-right: 10px;}

.navbar-icon-dashboard::before {content: "\f0e4"}
.navbar-icon-network::before {content: "\f121"}
.navbar-icon-doc::before {content: "\f0f6"}
.navbar-icon-logout::before {content: "\f011"}


/*
* Infobox definition
*/

.infobox {
	border-radius: 7px;
	color: #19191b;
	margin: 20px;
	padding: 15px;
	position: relative;
	left: 0%;
	transition: left 300ms linear;
	-ms-transition: left 300ms linear;
	-moz-transition: left 300ms linear;
	-webkit-transition: left 300ms linear;
}

.infobox-icon {
	float: left;
	padding-right: 10px;
}

.infobox-close-icon::before {
	color: #19191b;
	float: right;
	content: "\f057";
}

.infobox-info {background-color: #8fb2d8;}
.infobox-info>i.infobox-icon::before {content: "\f05a";}
.infobox-warning {background-color: #e8a66d;}
.infobox-warning>i.infobox-icon::before {content: "\f071";}
.infobox-error {background-color: #e17c7c;}
.infobox-error>i.infobox-icon::before {content: "\f188";}

/*
 * Panel definition
 */

.panel {
	box-sizing: border-box;
	float: left;
	padding: 20px;
	height: 200px;
	width: 50%;
}

.panel>div.panel-container {
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	padding: 0px;
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.panel-top {
	height: 65%;
	position: relative;
}
.panel-top-icon::before {
	color: #FFF;
	float: left;
	font-size: 80px;
	position: relative;
	top: 7px;
	left: 15px
}
.panel-title-number {
	color: #FFF;
	float: right;
	font-size: 70px;
	position: relative;
	right: 15px;
}
.panel-title-text {
	color: #FFF;
	font-size: 100%;
	position: absolute;
	right: 15px;
	bottom: 5px;
}

.panel-bottom {
	color: #0f0f0f;
	height: 35%;
	padding: 20px
}
.panel-detail-icon::before {
	float: right;
	content: "\f0a9";
}

.panel-blue>div.panel-container {border-color: #427cd7;}
.panel-blue>div.panel-container>div.panel-top {background-color: #427cd7;}
.panel-blue>div.panel-container>div.panel-top>i.panel-top-icon::before {content: "\f164";}
.panel-blue>div.panel-container>a>div.panel-bottom>i.panel-detail-icon {color: #427cd7;}

.panel-red>div.panel-container {border-color: #b93a3a;}
.panel-red>div.panel-container>div.panel-top {background-color: #b93a3a;}
.panel-red>div.panel-container>div.panel-top>i.panel-top-icon::before {content: "\f0c0";}
.panel-red>div.panel-container>a>div.panel-bottom>i.panel-detail-icon {color: #b93a3a;}

.panel-green>div.panel-container {border-color: #3b9845;}
.panel-green>div.panel-container>div.panel-top {background-color: #3b9845;}
.panel-green>div.panel-container>div.panel-top>i.panel-top-icon::before {content: "\f0c5";}
.panel-green>div.panel-container>a>div.panel-bottom>i.panel-detail-icon {color: #3b9845;}

.panel-yellow>div.panel-container {border-color: #c3ca07;}
.panel-yellow>div.panel-container>div.panel-top {background-color: #c3ca07;}
.panel-yellow>div.panel-container>div.panel-top>i.panel-top-icon::before {content: "\f0ae";}
.panel-yellow>div.panel-container>a>div.panel-bottom>i.panel-detail-icon {color: #c3ca07;}

.wrapper {
	height: fill;
	margin-left: 200px;
	width: fill;
}
